/* src/components/Header.css */

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #7e75759f;
    padding: 10px 20px;
    height: 8vh;
    z-index: 1000;
}

/* For tablets and small laptops (768px - 1024px) */
@media screen and (max-width: 1024px) {
    header {
        padding: 8px 16px;
        justify-content: space-between;
        height: 8vh;
    }
}

/* For large smartphones (481px - 767px) */
@media screen and (max-width: 767px) {
    header {
        flex-direction: row;
        align-items: flex-start;
        padding: 12px 24px;
        height: auto; /* Let height adjust based on content */
    }
}

/* For small smartphones (up to 480px) */
@media screen and (max-width: 480px) {
    header {
        flex-direction: row;
        align-items: center;
        padding: 15px 30px;
        height: auto;
        justify-content: center;
        text-align: center;
    }
}

