/* src/components/Header.css */

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #7e75759f;
    padding: 10px 20px;
    height: 8vh;
    
    z-index: 1000;
}
