/* General Styles */
.business-software {
  background-image: url('../../../../assets/Add-a-subheading-11.png'); /* Replace with your actual image path */
  display: grid;
  align-items: end;
  justify-content: center;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -110px;
  z-index: -1;
  position: relative;
}

.business-content {
  text-align: center;
  color: white;
  font-family: 'Arial, sans-serif';
}

.business-software-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 40px 10%;
  background-color: aliceblue;
  padding: 20px;
  border-radius: 10px;
}

.business-text-content {
  flex: 1;
  padding: 20px;
}

.business-image-content {
  flex: 1;
  text-align: center;
  padding: 20px;
}

.business-image-content img {
  max-width: 100%;
  height: auto;
  
}

.business-text-content h2 {
  color: #000000;
  font-size: 3.3rem;
}

.business-text-content p {
  color: #555;
  line-height: 1.6;
  font-size: 1rem;
}

.business-list-top,
.business-list-bottom {
  list-style-type: disc;
  margin-left: 20px;
  color: #555;
  line-height: 1.6;
  font-size: 1rem;
}

.business-list-top li,
.business-list-bottom li {
  margin-bottom: 10px;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .business-software-container {
      flex-direction: column;
  }

  .business-image-content {
      margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .business-software {
      height: 50vh;
  }

  .business-content h1 {
      font-size: 2rem;
  }

  .business-software-container {
      margin: 20px 5%;
  }

  .business-text-content h2 {
      font-size: 2.4rem;
  }
}

@media (max-width: 480px) {
  .business-software {
      height: 40vh;
  }

  .business-content h1 {
      font-size: 1.5rem;
  }

  .business-text-content h2 {
      font-size: 2rem;
  }

  .business-list-top,
  .business-list-bottom {
      font-size: 0.9rem;
  }
}
