

.pdf-viewer-container {
    padding-left: 20px;   /* Add padding on the left */
    padding-right: 20px;  /* Add padding on the right */
    overflow: hidden;     /* Hide any overflow */
    width: 75%;          /* Ensure the container takes full width */
    height: 120vh;        /* Set a fixed height or adjust as needed */
    box-sizing: border-box; /* Ensure padding doesn't affect the total width */
    margin: 3% auto;
}
